@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  flex-wrap: wrap;
}

h1 {
  color: #ffffff;
}

.card {
  font-family: 'Roboto Mono';
  opacity: 0.7;
}
.card:hover {
  opacity: 0.9;
}

.cursorPointer:hover {
  cursor: pointer;
}
